<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsuarioError</title>
</head>
<body>

    <h2>DNI ya Existente</h2>
    <a href="/">volver al formulario</a>
    
</body>
</html>